<?xml version="1.0" encoding="utf-8"?>
<!-- Choose the browser -->
<!-- CurrentBrowser = 0   Mozilla Firefox -->
<!-- CurrentBrowser = 1   Google Chrome -->
<!-- CurrentBrowser = 2   Internet Explorer -->
<!-- CurrentBrowser = 3   Safari -->
<!-- CurrentBrowser = 4   Opera -->

<configuration>
  <configSections>
    <section name="Main" type="System.Configuration.NameValueSectionHandler" />
    <section name="UserProfiles" type="System.Configuration.NameValueSectionHandler" />
    <section name="Timeouts" type="System.Configuration.NameValueSectionHandler" />
    <section name="BooksAccount" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Main>
    <add key="CurrentBrowser" value="1" />
    <add key="CountOfTestRun" value="1" />
  </Main>
  <UserProfiles>
    <add key="FirefoxDirectory" value="C:\\Users\\panasyuk.vitaliy\\AppData\\Local\\Mozilla\\Firefox\\Profiles\\" />
    <add key="ChromeDirectory" value="C:\\Users\\panasyuk.vitaliy\\AppData\\Local\\Google\\Chrome\\User Data\\" />
  </UserProfiles>
  <Timeouts>
    <add key="ImplicitTimeWait" value="1" />
    <add key="WaitPageForLoad" value="10" />
  </Timeouts>
  <BooksAccount>
    <add key="Books_UserEmail" value="panasyuk89va@gmail.com" />
    <add key="Books_UserPassword" value="666bpf,tkF" />
  </BooksAccount>
</configuration>
